$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
  'md': 'screen and (max-width: 550px)',
  'lg': 'screen and (max-width: 800px)',
  'xl': 'screen and (max-width: 1040px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.shopname{
  h1{
    line-height: 400px;
    @include mq(lg){
      line-height: 250px;
    }
  }
}

.menscate{
  width: 490px;
  margin: auto;
  margin-bottom: 80px;
  position: relative;
  top: 100px;
  height: 150px;
  @include mq(lg){
    width: 365px;
  }
  h2{
    text-align: center;
    margin: 0;
    font-size: 30px;
    @include mq(lg){
      font-size: 24px;
    }
  }
  ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    li{
      list-style: none;
      margin-right: 16px;
      @include mq(lg){
        margin-right: 12px;
      } 
      a{
       text-decoration: none;
       @include mq(lg){
         font-size: 12px;
       }
      }     
    }
    li:nth-child(7){
      margin-right: 0px;
    }
  }
}

.itemwrapper{
  margin-bottom: 130px;
}
.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 850px;
  margin: auto;
  @include mq(xl){
    width: 550px;
  }
  @include mq(lg){
    flex-direction: column;
    width: 100%;
  }
  .item{
    margin-right: 50px;
    margin-bottom: 50px;
    width: calc(33.333% -34px);
    @include mq(xl){
      margin-right: 50px;
      width: calc(50% -25px);
      @include mq(lg){
        width: 250px;
        margin: auto;
        margin-bottom: 40px!important;
      }
    }
    
    p{
      margin: 0;
      text-align: center;
      @include mq(lg){
        font-size: 14px;
      }
    }
  }
  .item:nth-child(3n){
    margin-right: 0;
    @include mq(lg){
      margin: auto;
    }
   }
  .item:nth-child(3){
    @include mq(xl){
     margin-right: 50px;
    @include mq(lg){
     margin: auto;  
     }

    }
 
    }
   .item:nth-child(2n){
    @include mq(xl){
     margin-right: 0px;
    }
    @include mq(lg){
      margin: auto;
    }
  }
}



.next{
  width: 830px;
  margin: auto;
  position: relative;
  top: 50px;
  @include mq(xl){
    width: 530px;
  }
  @include mq(lg){
    width: 320px;
  }
  p{
    text-align: right;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    @include mq(lg){
      font-size: 12px;
    }
  }
  hr{
    margin: 0;
  }
}